<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<settings>
		<!-- 开启驼峰自动映射 -->
  		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<!-- 二级缓存的总开关 -->
		<setting name="cacheEnabled" value="false" />
  	</settings>
  	<typeAliases>
  		<package name="org.leave.julyoauth2.domain"/>
  	</typeAliases>

<!--	<mappers>
		&lt;!&ndash;<mapper resource="mapper/DevKeyMapper.xml" />&ndash;&gt;
		<mapper resource="mapper/KeyPreload.xml" />
	</mappers>
  	-->
  	<!--<plugins>
  		<plugin interceptor="com.github.pagehelper.PageInterceptor">
        &lt;!&ndash; <property name="param1" value="value1"/> &ndash;&gt;
		</plugin>
  	</plugins>-->
  </configuration>